*.bkp
*.swp
admin_public_keys/
vars/
playbooks/group_vars/*/secrets.yaml
*.swp
.vscode
*.swo
CLAUDE.md
pull-secret.txt
pull-secret.json
imageset*.yaml
.claude
.claude/*
autoshift/files/
.helm-charts/
release-artifacts/
.cache/
.tmp/
.mcp.json
.tmp
.tmp/*
local/
*.gz
playbooks/infra/
playbooks/infra_backup/
playbooks/staging/
playbooks/staging_backup/
