127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

# Rendezvous / API VIPs
{{ api_ip }}      api.{{ cluster_domain_name|default(cluster_name) }}.{{ base_domain }} api-int.{{ cluster_domain_name|default(cluster_name) }}.{{ base_domain }}
{{ ingress_ip }}      console-openshift-console.apps.{{ cluster_domain_name|default(cluster_name) }}.{{ base_domain }}

# OpenShift Nodes
{{ master1_ip }}        {{ master1_hostname }}
{{ master2_ip }}        {{ master2_hostname }}
{{ master3_ip }}        {{ master3_hostname }}
{{ worker1_ip }}        {{ worker1_hostname }}
{{ worker2_ip }}        {{ worker2_hostname }}
{{ worker3_ip }}        {{ worker3_hostname }}
