apiVersion: v1
baseDomain: {{ base_domain }}
compute:
- name: worker
  replicas: 0
controlPlane:
  name: master
  replicas: 3
networking:
  clusterNetwork:
  - cidr: {{ cluster_network }}
    hostPrefix: 23
  machineNetwork:
  - cidr: {{ machine_network }}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ svc_network }}
fips: true
metadata:
  name: {{ cluster_name }}
pullSecret: '{{ pull_secret | tojson }}'
sshKey: '{{ ssh_key }}'
platform:
  baremetal:
    diskEncryption:
      enableOn: all
      mode: tpmv2
    apiVIPs:
      - {{ api_ip }}
    ingressVIPs:
      - {{ ingress_ip }}
    hosts:
      - name: {{ master1_hostname }}
        role: master
      - name: {{ master2_hostname }}
        role: master
      - name: {{ master3_hostname }}
        role: master

